:root{
    --BLUE: purple;
    --blue: lightgray;
    --offWHite: #fff;
    --white: BLACK;
 }

 *{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Literata', Arial, Helvetica, sans-serif;
 }
 body{
    background: linen;
 }
 h1 {
   text-align: center;
}
h3 {
   text-align: center;
}
h2 {
   text-align: center;
}
 .hide{
    display: none;
 }
 .info-box{
    width: 540px;
    background: var(--offWHite);
    border-radius: 5px;
 }
 .info-box .info-title {
    height: 60px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    padding: auto;
    text-align: center;
    justify-content: center;
 }
 .info-box .info-list{
    padding: 15px 35px;
 }
 .info-box .info-list .info{
    margin: 5px 0;
    font-size: 20px;
 }
 .info-box .info-list .info span{
    font-weight: 800;
    color: red;  
 }
 .quiz-box{
    width: 540px;
    background: var(--offWHite);
    border-radius: 5px;
 }
 .que-text{
    border-top: 1px solid lightgray;
 }
 #start-btn{
    width: 100%;
    height: 30px;
    background-color: var(--BLUE);
    border-color: var(--offWHite);
    color: var(--white);
    font-weight: bolder;
    letter-spacing: 2px;
    border-radius: 10px;
 }
 .info-box .buttons{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    border-top: 1px solid lightgray;
 }
 .info-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid var(--BLUE);
    background: var(--BLUE);
    border-radius: 100px;
    color: var(--offWHite);
    font-size: 20px;
 }
 .buttons button.quit{
    border-color: var(--BLUE);
    background-color: red;
    color: var(--white);
 }
 .option {
    border: solid var(--blue);
    margin: 5px;
    background: var(--BLUE);
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
 }
 .option:hover{
    background: var(--blue);
    cursor: pointer;
 }
 #response{
    height: 60px;
    display: flex;
    align-items: center;
    padding: o 35px;
    border-top: 1px solid lightgray;
 }
  #quiz-end div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh; 
  }
  #initials,
  #save-score {
    width: 200px; 
    margin: 10px; 
  }
#high-scores div {
   text-align: center;
   font-size: 20px;
}
